<% if resource.errors.any? %>
  <div class="alert-danger id="error_explanation">

      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>

  </div>
<% end %>
