<body>
<!--========================== Contant-Area================================-->
		<div class="contant-area">
			<div class="container">
			<div class="row row-offcanvas row-offcanvas-left">
				<div class="col-md-3 col-sm-4 col-xs-6 sidebar-offcanvas" id="sidebar">
					<!--========================== left-sidebar ================================-->
					<div class="left-sidebar">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default">
                 <% @categories.each do |category|%>
                <div class="panel-heading" role="tab" id="headingOne">
                  <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#<%= category.id %>" aria-expanded="true" aria-controls="collapseOne"><%= category.label %>
                      <i class="fa fa-angle-right"></i>
                      <i class="fa fa-angle-down"></i>
                    </a>
                  </h4>
                </div>
                <div id="<%= category.id %>" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
                    <ul>
                      <li><a href="#">Lorern ipsum</a></li>
                      <li><a href="#">Dolor sit amet</a></li>
                      <li><a href="#">Consectetur</a></li>
                      <li><a href="#">Adipisicing elit</a></li>
                      <li><a href="#">tempor</a></li>
                    </ul>
                  </div>
                </div>
                <%end%>
              </div>
            </div>
          </div><!-- left-sidebar -->
        </div>
				<!--========================== main-content ================================-->
				<div class="col-md-6 col-sm-8 col-xs-12">
					<div class="main-content">
						<article>
							<a href="#"><h4 class="page-title">contact</h4></a>
							<a href=""><img class="img-responsive" <%= image_tag("Contact.jpg")%>></a>
							<div class="post-content no-border contact">
								<p>Things often come full circle in software engineering. The web in particular started with servers delivering content down to the client. Recently with the creation of modern web frameworks such as Angular JS and Ember, we've seen a push to render on the client and only use a server for an API</p>
							</div>
							<div class="form-body">
								<form>
									<div class="form-group">
										<label for="exampleInputEmail1">Email address*</label>
										<input type="email" class="form-control" id="exampleInputEmail1">
									</div>
									<div class="form-group">
										<label for="exampleInputPassword1">Password*</label>
										<input type="password" class="form-control" id="exampleInputPassword1">
									</div>
									<div class="form-group">
										<label for="exampleInputText1">Subject</label>
										<input type="text" class="form-control">
									</div>
									<div class="form-group">
										<label for="exampleInputPassword1">Message</label>
										<textarea class="form-control" rows="3"></textarea>
									</div>
									  <button type="submit" class="btn btn-success form-btn">Submit</button>
								</form>
							</div>
						</article>
					</div><!-- main-content -->
				</div>
				<!--========================== Right-Sidebar ================================-->

			</div>
			</div><!-- Container -->
		</div><!-- Content-area -->
		<footer>
			<div class="footer-menu">
				<div class="container">
					<div class="col-md-4 col-sm-4 center-block">
						<h3 class="footer-head">this author blog from crea tivemine</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						<div class="social">
							<li><a href="#"><i class="fa fa-facebook facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus google-plus"></i></a></li>
						</div>
					</div>
					<div class="col-md-4 col-sm-4 mobile-footer center-block">
						<h4 class="footer-head">recent posts</h4>
						<ul class="ul-left">
							<li><a href="#">Ut enim ad minim veniam</a></li>
							<li><a href="#">Quis nostrud exercitation laboris</a></li>
							<li><a href="#">Duis aute irure dolor reprehenderit</a></li>
							<li><a href="#">Excepteur sint occaecat non</a></li>
							<li><a href="#">Proident,sunt in culpa qui officia</a></li>
							<li><a href="#">Accusantium doloremque</a></li>
						</ul>
					</div>
					<div class="col-md-4 col-sm-4 mobile-footer center-block">
						<h4 class="footer-head">article categories</h4>
						<ul class="ul-left">
							<li><a href="#">Academy</a></li>
							<li><a href="#">Blogging</a></li>
							<li><a href="#">Conversion</a></li>
							<li><a href="#">Design</a></li>
							<li><a href="#">E-Commerce</a></li>
							<li><a href="#">Facebook</a></li>
							<li><a href="#">Infographics</a></li>
							<li><a href="#">Launch</a></li>

						</ul>
						<ul class="ul-right">
							<li><a href="#">Strategies</a></li>
							<li><a href="#">Marketing</a></li>
							<li><a href="#">SEO</a></li>
							<li><a href="#">Social</a></li>
							<li><a href="#">Media</a></li>
							<li><a href="#">Testing</a></li>
							<li><a href="#">Twitter</a></li>
						</ul>
					</div>
				</div>
			</div><!-- Footer-menu -->
			<div class="footer-nav">
				<div class="container">
					<div class="col-md-6 col-sm-5">
						<p>&copy; 2015 Author bloging template</p>
					</div>
					<div class="col-md-6 col-sm-7">
						<ul>
							<li><a href="index.html">home</a></li>
							<li><a href="#">support</a></li>
							<li><a href="#">careers</a></li>
							<li><a href="#">terms use</a></li>
							<li><a href="#">privacy policy</a></li>
						</ul>
					</div>
				</div>
				<!-- Go TO TOP -->
				<div id="toTop" class="btn btn-info" style="display: block;">
					<span class="fa fa-angle-up"></span>
				</div><!-- /Go-to-top -->
			</div>
		</footer>



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src ="js/custom.js"></script>
  </body>
