<h1>New Category</h1>

<%= form_for Category.new do |f| %>
  <div class="form-group">
      <label>Label</label>    
      <%= f.text_field :label%>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-success" name="New">Create Category</button>
  </div>

<% end %>
